.loading-page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
  }
 
  svg{
    pointer-events: none;
  }

  .disabled{
    pointer-events: none;
    opacity: 50%;
  }

  .status-box{
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.status-avalible {
  background: var(--green6);
}
.status-rented {
  background: var(--yellow6);
}
.status-fixing {
  background: var(--orange6);
}
.status-broken {
  background: var(--red6);
}

.status-success {
  background: var(--green6) !important;
}
.status-warning {
  background: var(--yellow6) !important;
}
.status-danger {
  background: var(--orange6) !important;
}
.status-error {
  background: var(--red6) !important;
}